.backgroundImg{
    background-image: url("../photos/background_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    position: fixed;
    filter: brightness(10%);
    filter: blur(8px);
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    z-index: -1;
    
}
.logo{

    position: inherit;
    width: 376px;
    height: 115px;
    left: 0px;
    top: 0px;
    z-index: 2;
    background: #EB5757;
}
.football{
    position: relative;
    width: 72px;
    height: 71px;
    left: 9px;
    top: 20px;
    bottom: 985px;
    box-sizing: border-box;
    border-radius: 50%;  

}
.footballTxt{
    position: absolute;
    width: 214px;
    height: 45px;
    left: 100px;
    top: 28px;
    font-family: Averia Gruesa Libre;
    font-size: 43px;

    color: #F2F2F2;

    box-sizing: border-box;
}
.menu{
    position: inherit;
    width: 320px;
    height: 810px;
    left: 0px;
    top: 118px;
    background: #2F2A2A;
    z-index: 2;
    }
.menu li{
    list-style: none;
    width: 250px;
    height: 70px;
    left: 62px;
    padding-left: 10px;
    padding-top: 10px;
    /* top: 831px; */
    margin-top: 40px;
}
.menu li:hover{
    background-color: #EB5757;
}

.menu li a, h2 a{
    text-decoration: none;
    font-family: Barlow Condensed;
    font-size: 33px;
    color: #E0E0E0;
}
.menu li a:active{
    background-color: #EB5757;
}
.detail,.login_form,.registration_form{
    text-align: center;
    position:absolute;
    color:#f2f2f2;
    width:900px;
    height: 100px;
    margin-left: 600px;
    margin-top: -540px;
}
.login_form,.registration_form{
    margin-top: -650px;
}

.loginform, .registrationform{
    color:#63665B;
    background-color: #f4f4f4;
    font-size: 20px;
    border: 10px solid #748564;
    border-radius: 5px;
    margin-top: 10px;
    padding:10px;
    padding-left: 15px;
}
.loginLabel{
    font-size: 20px;
    margin-top:10px;
    margin-right: 10px;
}
.submit{
    margin-top: 10px;
    color:#63665B;
    border-radius: 5px;
    font-size: 20px;
}
.detail h1{
    font-size: 66px;
}
.detail h2{
    font-size: 36px;
}
.detail h3{
    font-size: 25px;
}
hr{
    border-width: 10px;
}
.copyright{
    color:#f2f2f2;
    margin-left:20px;
}
.color{
    color:#A4D53C;
}
