
{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{%block content%}
    <div class="backgroundImg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="column-md-4">
                <div class="row">
                    <div class="col-md-12 logo">
                        <div><img src="./static/photos/download.jpeg" alt="football pic" class="football"></div>
                        <div class="footballTxt">FootBall</div>
                    </div>
                </div>
                <div class= "row menu" >
                    <ul class= "menu">
                        <li><a href="{{url_for('main.index')}}">HOME</a></li>
                        <li><a href="">LIVE SCORE</a></li>
                        <li><a href="">FIXTURES</a></li>
                        <li><a href="">CONTACTS</a></li>
                        <li><a href="">NEWS</a></li>
                        <li><a href="">SIGNIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="column-md-8">
                <div class="detail">
                    <h1>FOOTBALL_<span class="color">NOTIFIER</span>.COM</h1>
                    <hr>
                    <h3>A WEBSITE TO SEND SMS/EMAIL NOTIFICATIONS ABOUT FOOTBALL DATA | LIVESCORE | FIXTURES | PLAYERS | FOOTBALL NEWS</h3>
                    <h2><a class="color" href="">SIGNUP TO GET SMS/EMAIL NOTIFICATIONS</a></h2>
                </div>
                <div class="copyright">
                    <p>&copy;All Rights Reserved, 2019</p>
                </div>
            </div>
        </div>
    </div>


{%endblock%}