{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{%block content%}
    <div class="backgroundImg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="column-md-4">
                <div class="row">
                    <div class="col-md-12 logo">
                        <div><img src="./static/photos/download.jpeg" alt="football pic" class="football"></div>
                        <div class="footballTxt">FootBall</div>
                    </div>
                </div>
                <div class= "row menu" >
                    <ul class= "menu">
                        <li><a href="{{url_for('main.index')}}">HOME</a></li>
                        <li><a href="{{url_for('main.live')}}">LIVE SCORE</a></li>
                        <li><a href="{{url_for('main.fixtures')}}">FIXTURES</a></li>
                        <li><a href="">CONTACTS</a></li>
                        <li><a href="">SIGNIN</a></li>
                    </ul>
                </div>
            </div>
            <div class="column-md-8">
                <div class="detail-live">
                        {% for data in data1 %}
                        <li>{{data.league_name}}</li>                           
                        <li>{{data.home_name}}</li>
                        <li>{{data.away_name}}</li>
                        <li>{{data.score}}</li>
                        <li>{{data.time}}</li>
                        <li>{{data.status}}</li>
     
                        {% endfor %}
                   
                    
                </div>
                </div>
                <div class="copyright">
                    <p>&copy;All Rights Reserved, 2019</p>
                </div>
            </div>
        </div>
    </div>


{%endblock%}

